RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.tk-webb\.ru$ [NC]
RewriteRule ^(.*)$ https://tk-webb.ru/$1 [L,R=301]

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
